@theme inline {
    /* Black shades */
    --color-black-950: #040505;
    --color-black-900: #080a0a;
    --color-black-800: #0d0f0f;
    --color-black-700: #121415;
    --color-black-600: #161a1a;
    --color-black-500: #1b1f1f;
    --color-black-400: #1f2425;
    --color-black-300: #24292a;
    --color-black-200: #282e2f;
    --color-black-100: #2D3435;
    --color-black-50: #424849;

    /* Dark Teal shades */
    --color-teal-950: #031313;
    --color-teal-900: #052020;
    --color-teal-800: #072D2D;
    --color-teal-700: #093A3A;
    --color-teal-600: #0B4949;
    --color-teal-500: #0E5858;
    --color-teal-400: #216D6D;
    --color-teal-300: #438686;
    --color-teal-200: #6DA5A5;
    --color-teal-100: #A2C6C6;
    --color-teal-50: #D8EAEA;
}