/* Primary -> Main colour */
/* Secondary -> Alternate main colour */
/* Neutral -> Colour that work with Primary, Secondary and Tertary */
/* Tertiary -> Alternate seconday colour */

/* Main class to apply all dark theme styles (the styles below are referenced in the block of code between lines 3 and 7) */

@theme inline {
    --color-primary: var(--hue-primary);
    --color-secondary: var(--hue-secondary);
    --color-neutral: var(--hue-neutral);
    --color-primary-contrast: var(--hue-primary-contrast);
}

.dark-theme {
    /* Base colours */
    --hue-primary: var(--color-black-950);
    --hue-primary-brand: var(--color-teal-200);
    --hue-secondary: var(--color-charcoal-900);

    /* Neutral */
    --hue-neutral: var(--color-white-950);

    /* Contrast colours */
    --hue-primary-contrast: var(--color-white-50);
}

/* Main class to apply all light theme styles (the styles below are referenced in the block of code between lines 3 and 7) */
.light-theme {
    /* Base colours */
    --hue-primary: var(--color-white-50);
    --hue-primary-brand: var(--color-teal-200);
    --hue-secondary: var(--color-white-400);

    /* Neutral */
    --hue-neutral: var(--color-charcoal-50);
    
    /* Contrast colours */
    --hue-primary-contrast: var(--color-black-950);
}